body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS';
    width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.main-header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 0.8em;
    width: 100%;
    max-width: 1700px;
}

.top-column-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row ;
    width: 100%;
}

.logo a{
    text-decoration: none;
    font-size: 65px;
    color: black;
}

.sing-in{
    display: flex;
}

.sing-in p{
    font-size: 16px;
    font-weight: bold;
}

.sing-in a{
    font-size: 16px;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
    color: black;
    text-decoration: none;
}

.bottom-column-nav{
    display: flex; 
    justify-content: space-between; 
    width: 100%;
    align-items: end;
}

.nav a{
    text-decoration: none;
    font-size: 17px;
    color: black;
    margin-right: 35px;
    width: 60%;
}

.search{
    display: flex;
    justify-content: center;
    text-align: end;
    align-items: center;
    width: 40%;
}

.search input{
    padding: 10px;
    padding-right: 150px;
}

.search a {
    margin-left: 18px;
}

.section1  img{
    max-width: 1700px;
    display: flex;
    flex-direction: column;
}

.shoes4pic {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 200px;
    margin-top: 3em;
    margin-bottom: 3em;
}

.shoes4pic img{
   display: flex;
   align-items: center;
   width: 100px;
}

.shoes4pic p{
    margin-top: 25px;
    font-size: 18px;
}

.smalpics4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-column-sec2 {
    display: flex;
    flex-direction: row;
}

.top-column-sec2 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
}

.midle-column-sec2{
    max-width: 1700px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.midle-column-sec2 img{
    max-width: 1700px;
    width: 500px;
}

.midle-column-sec2 h3{
    margin-top: 80px;
    font-size: 35px;
}

.midle-column-sec2 p{
    margin-top: 20px;
    font-size: 18px;
    line-height: 2;
    width: 60%;
}

.midle-column-sec2 a{
    padding-top: 40px;
    font-size: 20px;
    color: black;
    line-height: 2;
}

.bottom-column-sec2{
    max-width: 1700px;
    margin-top: 50px;
    background-image: url(/img/sale0.png);
}

.salepic0{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.smalpics4sec2{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-bottom: 40px;
}

.section3{
    width: 1700px;
}
.row-left{
    width: 100%;
    display: flex;
    align-items: end;
    gap: 50px;
}

.row-left img{
    width: 850px;
}

.text-right{
    width: 23%;
    justify-content: center;
    text-align: center;
    padding-bottom: 15px;
} 

.text-right h3{
    font-size: 25px;
}
.text-right p{
    font-size: 22px;
    line-height: 2;
    margin-bottom: 20px;
}

.text-right a{
    font-size: 25px;
    color: black;
}

.row-right{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 50px;
}

.row-right img{
    width: 850px;
}

.text-left {
   align-self: end;
}

.text-left{
    width: 20%;
    justify-content: center;
    text-align: center;
    padding-bottom: 15px;
} 

.text-left h3{
    font-size: 25px;
}
.text-left p{
    font-size: 22px;
    line-height: 2;
    margin-bottom: 20px;
}

.text-left a{
    font-size: 25px;
    color: black;
}

.row-left{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 50px;
}

.row-left img{
    width: 850px;
}




