body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS';
}

.container {
  width: 100%;
  max-width: 1600px;

}

.header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 0.8em;
}

.top-column-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row ;
    width: 100%;
}

.logo a{
    text-decoration: none;
    font-size: 3em;
    color: black;
}

.sing-in{
    display: flex;
}

.sing-in p{
    font-size: 0.7em;
    font-weight: bold;
}

.sing-in a{
    font-size: 0.7em;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
    color: black;
    text-decoration: none;
}


.bottom-column-nav{
    display: flex; 
    justify-content: space-between; 
    width: 100%;
    align-items: end;
}

.nav a{
    text-decoration: none;
    font-size: 0.9em;
    color: black;
    margin-right: 2.5em;
    width: 60%;
}

.search{
    display: flex;
    justify-content: center;
    text-align: end;
    align-items: center;
    width: 40%;
}

.search input{
    padding: 0.5em;
    padding-right: 4em;
}

.search a {
    margin-left: 1em;
}

.section1  img{
   max-width: 1600px;
}


