@media (max-width: 1700px) {
   
  .section1  img{
    max-width: 100vh;
    flex-wrap: wrap;
  }
     .section2 img{
    max-width: 100%;
   }
   .top-column-sec2 img{
    max-width: 100%;
    flex-wrap: wrap;
   }
}

@media (max-width: 1530px) {
   .bottom-column-nav{
     flex-wrap: wrap;
   }

}

@media (max-width: 430px) {
    .main-header{
    margin-top: 0px;
    border-top: 2px solid black;
    padding-top: 10px;
}
    
    .top-column-nav{
        display: flex;
        flex-direction: column;
    }
    .logo a{
        display: flex;
        justify-content: center;
        font-size: 50px;
    }
    
    .sing-in{
        display: flex;
        flex-direction: column;
        text-align: center;


    }
    .sing-in p{
        font-size: 14px;
        margin-right: 0px;
    }
    .sing-in a{
        color: red;
        font-size: 14px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .nav{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nav a{
    font-size: 14px;
    margin-right: 10px;
    width: 60%;
    }

    .search{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 430px;
    }

    .search input{
    padding: 5px;
    padding-right: 80px;
    }

    .search a {
    margin-left: 10px;
    font-size: 20px;
    }

    .section1{
        width: 430px;
        flex-wrap: wrap
    }
    
    .section1 img{
        width: 100%;
    }

    .shoes4pic {
    width: 430px;
    gap: 0px;
    margin-top: 0em;
    margin-bottom: 2em;
    }
    .smalpics4 img{
    width: 25%;
    }
    .smalpics4 p{
        font-size: 14px;

    }

    .top-column-sec2{
        width: 430px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .midle-column-sec2{
        width: 430px;
        text-align: center;

    }

    .clmn-sec2{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .midle-column-sec2 img{
        width: 100%;
    }

    .midle-column-sec2 h3{
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
        
    }

    .midle-column-sec2 p{
         font-size: 14px;
         text-align: center;
         line-height: 1.3;
    }
    
    .midle-column-sec2 a{
        font-size: 14px;
        text-align: center;
        padding-top: 20px;
        line-height: 1.4;
    }
    
    .bottom-column-sec2{
      width: 430px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .salepic0{

       width: 400px;
    }

    .smalpics4sec2{
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 50px;
    padding-bottom: 40px;
    }
     
    .smalpics4sec2 img{
        width: 150px;
    }
   
    .section3{
      width: 430px;
      display: flex;
      flex-direction: column;
    }

    .row-left{
      display: flex;
      flex-direction: column;
    }

    .row-right{
      display: flex;
      flex-direction: column;
      
    }



}

