@media (max-width: 1700px) {
   
  .section1  img{
    max-width: 100vh;
    flex-wrap: wrap;
  }
     .section2 img{
    max-width: 100%;
   }
   .top-column-sec2 img{
    max-width: 100%;
    flex-wrap: wrap;
   }
}

@media (max-width: 1530px) {
   .bottom-column-nav{
     flex-wrap: wrap;
   }

}

@media (max-width: 430px) {
    .main-header{
    margin-top: 0px;
    border-top: 2px solid black;
    padding-top: 10px;
}
    
    .top-column-nav{
        display: flex;
        flex-direction: column;
    }
    .logo a{
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
    
    .sing-in{
        display: flex;
        flex-direction: column;
        text-align: center;


    }
    .sing-in p{
        font-size: 14px;
        margin-right: 0px;
    }
    .sing-in a{
        color: red;
        font-size: 14px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .nav{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nav a{
    font-size: 14px;
    margin-right: 10px;
    width: 60%;
    }

    .search{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 430px;
    }

    .search input{
    padding: 5px;
    padding-right: 80px;
    }

    .search a {
    margin-left: 10px;
    font-size: 20px;
    }

    .search :nth-child(2) {
        color: red;
    }

    .section1{
        width: 430px;
        flex-wrap: wrap
    }
    
    .section1 img{
        width: 100%;
    }

    .shoes4pic {
    gap: 10px;
    margin-top: 0em;
    margin-bottom: 2em;
    }
    .smalpics4 img{
    width: 100%;
    }
    .smalpics4 p{
        font-size: 14px;
    }

}

